html, body{
    scroll-behavior: smooth;
}

h2, h3{
    margin-bottom: 7px;
}


/*Hero*/
.career_expert_hero_container{
    margin-top: 50px;
    padding-top: 40px;
    text-align: center;
    z-index: 150;
    position: relative;
}

.phone_hero{
    margin-top: 3rem;
    height:400px;
    z-index: 3;
    
}

#career_expert_header{
    color: white;
}

.hero_box{
    background-color:#453DCE ;
    width: 100%;
    position: absolute;
    overflow: hidden;
    height: 510px;
    top:10px;
    z-index: 2;
    
}

#phone_2_hero{
    height: 375px;
    
}
#phone_3_hero{
    position: relative;
    height: 375px;
}



/*Introduction Grid*/
.centre{
    display: grid;
    grid-template-columns: 60%;
    justify-content: center;
    
}
.intro_grid_container_career_expert {

    
    margin-top: 1rem;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Career-Expert Career-Expert Tools"
      "My-roles My-roles Tools"
      "Context Timeline Tools";
    width: 125%;
    height: 89.8%;
    grid-row-gap: 25px;
    
    
  }
  
  .My-roles { grid-area: My-roles; }
  
  .Career-Expert { grid-area: Career-Expert; }
  
  .Context { grid-area: Context; }
  
  .Timeline { grid-area: Timeline; }
  
  .Tools { grid-area: Tools; }
  
  #intro_grid_titles{
      color: #3830CB;
      font-weight: bold;
      
  }


  #ce_tools_list{
      list-style: square;
      
  }
  #ce_tools_list li:not(:last-child) {
    margin-bottom: 5px;
}


.view_prototype_ce{
    text-align: center;
    margin-top: 1rem;
    width: 10rem;
    padding: .4rem .4rem;
    border-color: #453DCE;
    border-radius: 5px;
    background-color: white;
    color:#453DCE;
    font-weight:bold;
    text-decoration: none;
    border-radius: 5px;
    border: solid 2px #453DCE;
    transition: .3s;
}


.view_prototype_ce:hover{
    border: solid 2px #453DCE;
    background-color: #453DCE;
    color:white;
    cursor: pointer;
}

/*index*/
.index_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    gap: 0px 30px;
    grid-auto-flow: row;
    grid-template-areas:
      
      "Discovery Concepting Design-Iteration";
    margin-top: 7vh;
      

     
  }
  
  .Discovery { grid-area: Discovery;
     border: solid 1px #453DCE; 
     border-radius: 3px;
     padding-left: 7px;
    }
  
  .Concepting { grid-area: Concepting;
     border: solid 1px #453DCE;
     border-radius: 3px;
     padding-left: 7px;
    }
  
  .Design-Iteration { grid-area: Design-Iteration;
    border: solid 1px #453DCE;
    border-radius: 3px;
    padding-left: 7px;
 }

 
 #index_container_header{
     color:#FF8A00 ;
     font-weight: bold;
     margin-bottom: 7px;
 }

#index_container_list{
    color:#453DCE ;
    margin-bottom: 15px;

}

#index_container_list li:not(:last-child) {
    margin-bottom: 15px;
}

#index_container_list li:hover{
    text-decoration: underline;
}




/*Discovery Section*/
#uad{
    background-color:#453DCE ;
    position: relative;
    width:100%;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;

}

#white h2,
#white h3,
#white p{
    color: white;
}


#ur{
    background-color: #F6F6F6;
    padding-top: 40px;
    overflow: hidden;
    padding-bottom: 40px;
}

#testimony_ce ul{
    margin: 20px auto;
}


#testimony_ce li{
    margin: 0 ;
    display: inline-block;
    margin-top: 30px;
    
     
}

#testimony_ce li:not(:first-child) {
    margin-right: 15px;
}

#testimony_img{
    width: 17vw;
    
}

#testimony_ce{
    text-align: center;
}


#leading_competitors_img{
    width: 25vw;
    align-items: center;
}

#leading_competitors_container{
    display:flexbox;
    text-align: center;
}

#critique{
    width: 50vw;
    text-align: center;
}




/*cancepting*/
#ca ul{
    list-style: disc;
}

#ca{
    background-color: #F6F6F6;
    padding-bottom: 40px;
}

#ce_user_persona{
    width: 60vw;
}

#ce_journey_map{
    width: 60vw;
}

#ce_cardsorting_img{
    width:40vw;
}

#ce_sitemap_img{
    width: 55vw;
}



/*Design Iteration*/
#ce_low_wireframe{
    height: 20rem;
}

#ce_mid-high_wireframe{
    height: 19rem;
    width: auto;
}


#upt{
    padding-top: 40px;
    padding-bottom: 40px;
}


.before_after_img{
    display:grid;
    position: relative;
    grid-template-columns: 40% 60%;
}

.before_after_img img{
    height: 23vw;
}

#sc_list {
    list-style: disc;
    
}

#preference_test_grid{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 30px;
}

#preference_test_grid img{
    height: 450px;
}

#sg img{
    width: 40vw;
}














#anchor_position{
    position: absolute;
    z-index: 10000;
}


.anchorTab{
    background-color: rgb(245, 245, 245);
    width: 12vw;
    position: fixed;
    top: 20vh;
    padding: 10px;
    z-index: 1;
    display:inline;
    transform: translatex(-100%);
    transition: .2s;
    /*border: solid 1px #b2b2b6;*/
    border-radius: 5px;
}

#anchorText{
    color: black;
    text-decoration: none;
    list-style:square;
    
}



.anchorTab ul li a { 
    display: flex;
    padding: 15px 0px ;
    font-size: 14px;
    list-style: none;
}

.anchorTab ul li { 
    list-style: square;
    margin-left: 20px;
}

#back{
    text-align: center;
  
}

.fixed{
    position: fixed;
    top: 20vh;
    display:inline;
    transition: .2s;
    transform: translatex(0%);
    
}



.active{
    font-weight: bold;

}














@media screen and (max-width:1275px){
    .fixed{
        display: none;
        
    }

    .anchorTab{
        display: none;
        visibility: hidden;


}




















  @media screen and (max-width:1000px){

/*Hero*/
    #phone_2_hero{
        display: none;
        
    }
    #phone_3_hero{
        display: none;
    }
    .centre{
        display: grid;
        grid-template-columns: 75%;
        justify-content: centre;
        column-width: 60%;
        
    }


/*Intro*/
.intro_grid_container_career_expert {
    grid-template-columns: 1fr 1fr; 
    grid-template-areas:
      "Career-Expert  Tools"
      "My-roles Tools"
      "Context  Timeline";
      overflow: hidden;
      width:100%;
}
#ce_tools_list{
    list-style: none;
    
}

.index_container {
    gap:0px 15px;

}



/*Index*/
.index_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      
      "Discovery Concepting Design-Iteration";
    margin-top: 5vh;
    }
.index_container h2{
font-size: .9rem;
}
.index_container h3{
    font-size: .6rem;
}
.index_container div:not(:last-child) {
padding-right: 5px;
}

/*Discovery*/
#testimony_img{
    width: 20vw;
}

#leading_competitors_img{
    width: 60vw;
    align-items: center;
}

#ce_user_persona{
    width: 75vw;
}
#ce_journey_map{
    width: 75vw;
}

#ce_cardsorting_img{
    width:60vw;
}

#ce_sitemap_img{
    width: 70vw;
}


/*Design Iteration*/
#ce_low_wireframe{
    height: 35vw;
    width: auto;
    max-width: 75vw;
}

#ce_mid-high_wireframe{
    height: 30vw;
    width: auto;
}

.before_after_img img{
    height: 30vw;



}

#preference_test_grid{
    display: grid;
    grid-template-columns: 100%;
}


#sg img{
    width: 60vw;

    
}

#critique{
    width: 70vw;
    
}














@media screen and (max-width:700px){







/*Design Iteration*/
#before_after_img_exception{
    grid-template-columns: 100%;
}

#before_after_img_exception:nth-child(2){
    padding-top: 10px;
}

.before_after_img img{
    height: 40vw;
}

#preference_test_grid img{
    height: auto;
    width: 75vw;
}





}
}













.anchorTab ul li :hover{
    
    opacity: .5;
      
       
   }
   
}