html, body{
    scroll-behavior: smooth;
}
/*Hero*/
.career_expert_hero_container{
    margin-top: 50px;
    padding-top: 40px;
    text-align: center;
    z-index: 3;
    position: relative;
}

.phone_hero{
    margin-top: 3rem;
    height:400px;
    z-index: 3;
    
}

#career_expert_header{
    color: white;
}

.hero_box{
    background-color:#453DCE ;
    width: 100%;
    position: absolute;
    overflow: hidden;
    height: 510px;
    top:10px;
    z-index: 2;
    
}

#phone_2_hero{
    height: 375px;
    
}
#phone_3_hero{
    position: relative;
    height: 375px;
}



/*Introduction Grid*/
.centre{
    display: grid;
    grid-template-columns: 60%;
    justify-content: center;
    
}
.intro_grid_container_career_expert {

    
    margin-top: 1rem;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Career-Expert Career-Expert Tools"
      "My-roles My-roles Tools"
      "Context Timeline Tools";
    width: 125%;
    height: 89.8%;
    grid-row-gap: 25px;
    
    
  }
  
  .My-roles { grid-area: My-roles; }
  
  .Career-Expert { grid-area: Career-Expert; }
  
  .Context { grid-area: Context; }
  
  .Timeline { grid-area: Timeline; }
  
  .Tools { grid-area: Tools; }
  
  #intro_grid_titles{
      color: #3830CB;
      font-weight: bold;
      
  }


  #ce_tools_list{
      list-style: square;
      
  }
  #ce_tools_list li:not(:last-child) {
    margin-bottom: 5px;
}


.view_prototype_ce{
    text-align: center;
    margin-top: 1rem;
    width: 10rem;
    padding: .4rem .4rem;
    border-color: #453DCE;
    border-radius: 5px;
    background-color: white;
    color:#453DCE;
    font-weight:bold;
    text-decoration: none;
    border-radius: 5px;
    border: solid 2px #453DCE;
    transition: .3s;
}


.view_prototype_ce:hover{
    border: solid 2px #453DCE;
    background-color: #453DCE;
    color:white;
    cursor: pointer;
}

/*index*/
.index_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    gap: 0px 30px;
    grid-auto-flow: row;
    grid-template-areas:
      
      "Discovery Concepting Design-Iteration";
    margin-top: 5vh;
      

     
  }
  
  .Discovery { grid-area: Discovery;
     border: solid 1px #453DCE; 
     border-radius: 3px;
     padding-left: 7px;
    }
  
  .Concepting { grid-area: Concepting;
     border: solid 1px #453DCE;
     border-radius: 3px;
     padding-left: 7px;
    }
  
  .Design-Iteration { grid-area: Design-Iteration;
    border: solid 1px #453DCE;
    border-radius: 3px;
    padding-left: 7px;
 }

 
 #index_container_header{
     color:#FF8A00 ;
     font-weight: bold;
     margin-bottom: 7px;
 }

#index_container_list{
    color:#453DCE ;
    margin-bottom: 15px;

}

#index_container_list li:not(:last-child) {
    margin-bottom: 15px;
}

#index_container_list li:hover{
    text-decoration: underline;
}




/*Discovery Section*/
#uad{
    background-color:#453DCE ;
    position: relative;
    width:100%;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;

}

#white h2,
#white h3,
#white p{
    color: white;
}


#ur{
    background-color: #F6F6F6;
    padding-top: 40px;
    overflow: hidden;
    padding-bottom: 40px;
}

#testimony_ce ul{
    margin: 20px auto;
}


#testimony_ce li{
    margin: 0 ;
    display: inline-block;
    margin-top: 30px;
    
     
}

#testimony_ce li:not(:first-child) {
    margin-right: 15px;
}

#testimony_img{
    width: 17vw;
    
}

#testimony_ce{
    text-align: center;
}


#leading_competitors_img{
    width: 25vw;
    align-items: center;
}

#leading_competitors_container{
    display:flexbox;
    text-align: center;
}

/*cancepting*/
#ca ul{
    list-style: disc;
}

#ca{
    background-color: #F6F6F6;
    padding-bottom: 40px;
}

#ce_user_persona{
    width: 60vw;
}

#ce_journey_map{
    width: 60vw;
}








  @media screen and (max-width:1000px){

/*Hero*/
    #phone_2_hero{
        display: none;
        
    }
    #phone_3_hero{
        display: none;
    }
    .centre{
        display: grid;
        grid-template-columns: 75%;
        justify-content: centre;
        column-width: 60%;
        
    }


/*Intro*/
.intro_grid_container_career_expert {
    grid-template-columns: 1fr 1fr; 
    grid-template-areas:
      "Career-Expert  Tools"
      "My-roles Tools"
      "Context  Timeline";
      overflow: hidden;
      width:100%;
}
#ce_tools_list{
    list-style: none;
    
}

.index_container {
    gap:0px 15px;

}




.index_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      
      "Discovery Concepting Design-Iteration";
    margin-top: 5vh;
    justify-content: center;
    }


/*Discovery*/
#testimony_img{
    width: 20vw;
}

#leading_competitors_img{
    width: 60vw;
    align-items: center;
}

#ce_user_persona{
    width: 75vw;
}
#ce_journey_map{
    width: 75vw;
}


}