@import '/css/reset.css';
@import '/css/variables.css';
@import '/css/career_expert.css';

#container{
    min-height: 100vh;
}
#main{
    overflow: auto;
    padding-bottom: 100px;
}




/*Header*/
#navbar{
    transition: .3s;
}
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height:8vh;
    padding-left: 10%;
    padding-right: 15%;
    background-color: #453DCE;
    position: fixed;
    width: 100%;
    z-index: 200;
    
    
    
}




header ul li{
    position: relative;
    list-style: none;
    display:inline-block ;
    padding: 0 20px;
    font-size: 1.2rem;
    opacity: .75;
    transition: opacity 200ms ease-in-out  ;

}

header ul :hover{
    opacity: 1;
    transition: opacity 200ms ease-in-out  ;
}


header ul li  ::before{
    content:'' ;
    position: absolute;
    display: block;
    height: 5px;
    background-color: white;
    left: 0;
    right: 0;
    bottom: -23px;
    opacity: 0;
    border-radius: 4px;
    transition: opacity 200ms ease-in-out ;
  
}

header ul :hover ::before{
    opacity: 1;
    transition: opacity 200ms ease-in-out  ;
}

header ul li a {
    color: white;
}


#logo{
    position: relative;
    color: white;
    font-size: 1.6rem;
   opacity: .85;
   cursor: pointer;
   text-decoration: none;
    
}
.logo{
    position: relative;
    color: white;
    font-size: 1.6rem;
   opacity: .85;
   cursor: pointer;
}

.burger div{
    width:25px;
    height:2px;
    background-color: whitesmoke;
    margin:6px;
    transition: all 0.3s ease;
}

.burger{
    display: none;
    cursor: pointer;
}



/* Hero */

.hero-container{
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 60%;
    justify-content: center;
    padding-top: 15vh;
    margin: 0;
    
}

.hero-container-about{
    position: relative;
    z-index: 2;
    grid-template-columns: 60%;
    justify-content: center;
    padding-top: 15vh;
    margin: 0;
    
}

#hero-name{
    opacity: .8;
}

.skills-buttons-title{
    margin-bottom: .2rem;
    opacity: .8;
}

.skills-buttons{
    background-color: #453DCE;
    color: white;
    font-size: 1.2rem;
    padding: .6rem;
    border-radius: 10px;
    border: none;
    display: inline-block;
    margin-right: 12px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    pointer-events: none;
    cursor: not-allowed;
    margin-top: .6rem;
    margin-bottom: .2rem;
    
}








/* Work*/

.work-container{
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 60%;
    justify-content: center;
    padding-top: 5vh;
    margin: 0;
    
}

.career_expert_cover {
    width: 40rem;
    transition: .3s;
   
}

#career_expert_cover :hover{
    transform: scale(1.01);
    transition: .4s linear;
    background-blend-mode:darken ;
    
}

    







/*Footer*/
footer{ 
    display: grid;
    justify-content:center;
    align-items: center;
    height:auto;
    min-height:8vh;
    
    background-color: #453DCE;
    position: relative;
    bottom: 0;
   
    margin-top: -100px;
    padding-bottom: 4vh;
    padding-top: 4vh;
    overflow: hidden;
    clear: both;
    fill: white;
}


footer ul li  {
    display: inline-block;
    padding-left: 30px;
    fill: white;
}

footer ul li a{
    color: white;
    display: inline-block;
    fill: white;
    transition: .4s linear;
}

footer ul li a:hover{
    transform: scale(1.3);
    transition: .2s linear;
}

footer a{
    display:block;
}

#number{
    padding-top: 10px;
    padding-bottom: 10px;
}
















@media screen and (max-width:900px){
    .career_expert_cover{
        height: auto;
        width: 75vw;
    }

}

@media screen and (max-width:700px){

   
header{
    flex-direction: row-reverse;
    justify-content:space-between;
    width: 100vw;
    
}
    

    /*header ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        width: 50%;
        right:0;
        top:8vh;
        height: 92vh;
        
        background-color: #453DCE;
       
       
        justify-content: space-evenly;
        transition: transform 0.5s ease-in;
        flex-direction: column;
        display: none;
        
        
    }

    header ul li {
        
        margin:30px;
        opacity: 1;
    }*/


    header ul{
        overflow: hidden;
        display:flex;
        position: absolute;
        top:8vh;
        background-color: inherit;
        width: 100vw;
        right: 0;
        align-items: center;
        justify-content:space-around;
        height: 0vh;
        transition: all .3s ease-in;
        
    }
    
  

    

    .burger{
    display: block;
    left: 0%;
    
    }
    

    .logo{
        font-size: 1.1rem;
    }

    /*Toggles*/
    .nav-active{
         height:5vh ; opacity: 1;
    }

    .menu .line1 { transform: rotate(45deg) translate(5px,6px);}

    .menu .line2 { opacity: 0;}

    .menu .line3 { transform: rotate(-45deg) translate(5px,-6px);}

    

    /*Hero*/
    .hero-container{
        position: relative;
        z-index: 2;
        align-items: center;
        grid-template-columns: 100%;
        justify-content: center;
        padding-top: 10vh;
        margin: 0;
        padding-left: 1.0rem;
       
    }

    .hero-container-about{
        position: relative;
        z-index: 2;
        align-items: center;
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        padding-top: 10vh;
        margin: 0;
        padding-left: 1.0rem;
       
    }


    #skills-buttons{
        font-size: .9rem;
        padding: .4rem;
        margin-right: .2rem;
    }
   #career-expert-phone
   {
       height:20rem;
       width: auto;
   }
   
    /*work*/
.work-container{
    position: relative;
        align-items: center;
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        margin: 0;
        padding-left: 1.0rem;
       
}

.career_expert_cover{
    height: auto;
    width: 90vw;
}
 


}