a {
    color: black;
}
/*font sizes*/
h1, h2, h3, h4, h5, h6
{
font-weight: normal;
}


h1{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
    font-weight: bold;
}
h3{
    font-size: 1.3rem;
}

h4{
    font-size: 1.2rem;
}

p{
    font-size: 1.15rem;
    text-align: justify;
  text-justify: inter-word;
}

.medium_button{
    text-align: center;
    margin-top: 1rem;
    width: 10rem;
    padding: .4rem .4rem;
    border-color: #453DCE;
    border-radius: 5px;
    background-color: white;
    color:#453DCE;
    font-weight:bold;
    text-decoration: none;
    border-radius: 5px;
    border: solid 2px #453DCE;
    transition: .3s;
    display: inline-block;
}


.medium_button:hover{
    border: solid 2px #453DCE;
    background-color: #453DCE;
    color:white;
    cursor: pointer;
}




@media only screen and (max-width: 1000px) {
    h1{
        font-size: 1.4rem;
    }

    h2{
        font-size: 1.2rem;
    }
    h3{
        font-size: 1rem;
    }

    h4{
        font-size: .9rem;
    }

    p{
        font-size: .9rem;
    }
}



#career-expert a{
    text-decoration: none;
    list-style: none;
    color: black;
   
}





/*buttons*/

@media only screen and (max-width: 800px) {
    
    h1{
        font-size: 1.2rem;
    }

    h2{
        font-size: 1.1rem;
    }
    h3{
        font-size: .9rem;
    }

    h4{
        font-size: .8rem;
    }
}

