/*font sizes*/
h1, h2, h3, h4, h5, h6
{
font-weight: normal;
}


h1{
    font-size: 2rem;
}



h4{
    font-size: 1.6rem;
}



@media only screen and (max-width: 1000px) {
    h1{
        font-size: 1.5rem;
    }
    h4{
        font-size: 1.4rem;
    }
}

/*buttons*/

@media only screen and (max-width: 1000px) {
    #skills-buttons{
        padding: 0px;
    }


}