

body{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    font-size: 100%;
    box-sizing: content-box;
    width: 100%;
    border: solid #5B6DCD 10px;
    padding: 5px;
    
}


/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:80px;
    padding-left: 10%;
    padding-right: 15%;
    background-color: #453DCE;
  }

header ul li a{
    text-decoration: none;
    list-style: none;
    color: white;
    opacity: .75;
}

header ul li :hover{
    opacity: 1;
    transition: opacity 200ms ease-in-out  ;
}


header ul li{
    position: relative;
    list-style: none;
    display:inline-block ;
    padding: 0 20px;
    font-size: 1.2rem;

}


header ul li  ::before{
    content:'' ;
    position: absolute;
    display: block;
    height: 5px;
    background-color: white;
    left: 0;
    right: 0;
    bottom: -23px;
    opacity: 0;
    border-radius: 4px;
  
}

header ul :hover ::before{
    opacity: 1;
    transition: opacity 200ms ease-in-out  ;
}




.logo{
    color: white;
}


/*Front Page*/
section{
    text-align: left;
    width: 50%;
    padding: 0;
   /*background-color: rgb(227, 240, 240);*/
    position: relative;
    top: 0%;
    left: 50%;

    transform: translate(-50%, 0%);
    line-height: 24px;
    
}

section h1{
    font-size: 2rem;
    line-height: normal;
    font-weight: bold;
    margin: 0px;
}

#eg{
    margin:0;
    opacity: .85;
}







#display{
    background-color: #453DCE;
    color: white;
    font-size: 1.2rem;
    padding: 20px;
    border-radius: 10px;
    border: none;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    pointer-events: none;
    cursor: not-allowed;
    
}

.work{
    /*background-color: yellow;*/
    margin-top:50px;
    padding: 80px 0px;
}


.elipse1{
    position: relative;
    width: 500px;
    height:500px;
    background-color:  #453DCE;
    border-radius: 50%;
    z-index: 1;
    bottom:500px;
}

.phone1{
    position: relative;
    z-index: 2;
    left: 116px;
}












    @media only screen and (max-width: 1000px) {
       
        section{
            width:100%;
            padding-left: 10%;
            
        }
        .logo{
            font-size:1.2rem;
        }
        
        .careerExpert{
            align-items: center;
        }



        }
      


























/*
.phone1{
    position: relative;
    z-index: 1;
}

.elipse1 {
    position: relative;
    width:300px;
    height:300px;
    background: #453DCE;
    border-radius: 50%;
    top:-100px;
    z-index:2;
}
